# Dependencies
**/node_modules/

# Build outputs
**/dist/
**/build/

# Logs
**/logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*.local
.env.local

# Tooling caches
**/.vite/
**/.cache/
**/.tmp/
**/.temp/

# Tests
**/coverage/
**/.nyc_output/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/